.top {
  display: flex;
  justify-content: space-between;
  margin: 0 4px 4px;
}

  .top > span {
    font-weight: 700;
    font-size: 14px;
    font-family: system-ui;
    color: #45376f;
    letter-spacing: 1px;
  }

.bar {
  display: flex;
  justify-content: space-evenly;
}

.title {
  margin-bottom: 7px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 23px;
  font-family: monospace;
  color: #45376f;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .title > img {
    margin-right: 10px;
  }
