:host {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0 2px;
}

  .top > span {
    font-weight: 700;
    font-size: 14px;
    font-family: system-ui;
    letter-spacing: 1px;
    color: #cabfed;
  }

.bar {
  display: flex;
  justify-content: space-evenly;
}

.title {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 21px;
  font-family: monospace;
  color: #cabfed;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .title > img {
    margin-right: 10px;
    padding: 3px;
    background-color: #cabfedca;
    border-radius: 4px;
  }
