:host {
	display: contents;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
}

.header>.title {
	flex-grow: 1;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 700;
	color: #cabfed;
}

a {
	background-color: #cabfedca;
	color: #301d6ae6;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 10px;
}