:host {
	display: contents;
}

.item {
	box-sizing: border-box;
	display: flex;
	background-color: #cabfedca;
	color: #301d6ae6;
}

.item>div {
	flex-grow: 1;
	text-align: center;
	font-weight: bold;
	align-self: center;
	cursor: pointer;
	padding: 6px 10px;
}