:host {
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow-x: hidden;
	border-radius: 6px;
	padding-right: 2px;
}

	:host::-webkit-scrollbar {
		width: 5px;
	}

	:host::-webkit-scrollbar-thumb {
		background: #cabfedca;
		border-radius: 0 4px 4px 0;
	}

.item {
	box-sizing: border-box;
	display: flex;
	background-color: #cabfedca;
	color: #301d6ae6;
}

	.item > div, .item > app-settings-icon {
		padding: 6px 10px;
		cursor: pointer;
	}

	.item > div {
		flex-grow: 1;
		text-align: center;
		font-size: 23px;
		font-family: monospace;
		font-weight: bold;
	}
