:host {
  padding: 5px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow-x: hidden;
  border-radius: 6px;
}

  .container > .item {
    background-color: #cabfedca;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    padding: 6px;
    transition-timing-function: ease-out;
    transition-duration: .5s;
    transition-property: background-color;
  }
    .container > .item:hover {
      background-color: #a695db80;
    }
    .container > .item > div {
      flex-grow: 1;
      color: #1a0b48;
      text-align: center;
      font-size: 26px;
      font-family: monospace;
      font-weight: bold;
    }
