<div class="header" *ngIf="metadata">
	<div class="title">{{ metadata.name }}</div>
</div>
<div class="items-container" *ngIf="records">
	<div class="item" *ngFor="let item of records" [hidden]="item.hidden">
		<div class="upper">
			<i class="checkbox" (click)="checkboxEvent(item.id)"
				[ngClass]="{arrived: item.arrived, timed: item.timeIn || item.timeOut}"></i>
			<div class="label">
				<span>{{ item.lastName }}</span>
				<span class="comma">,</span>
				<span>{{ item.firstName }}</span>
			</div>
			<i class="toggle" [class.opened]="selected === item.id" (click)="toggleEvent(item.id)"></i>
			<a [routerLink]="['/attend/past']" [queryParams]="{studentId: item.id}">
				<i class="calander"></i>
			</a>
		</div>
		<div class="lower" *ngIf="selected === item.id" [@toggleHeight]>
			<div class="times">
				<div>
					<label>Arrived at</label>
					<input type="time" [value]="item.timeIn" (input)="timeEvent(item.id, ti.value, true)" #ti>
				</div>
				<div>
					<label>Left at</label>
					<input type="time" [value]="item.timeOut" (input)="timeEvent(item.id, to.value, false)" #to>
				</div>
			</div>
			<textarea (input)="textEvent(item.id, text.value)" maxlength="300" #text>{{ item.text }}</textarea>
		</div>
	</div>
</div>