:host {
	display: contents;
}

.main {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
}

	.header > .title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex-grow: 1;
		text-align: center;
		letter-spacing: 1px;
		font-weight: 700;
		color: #cabfed;
	}

.items-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow-x: hidden;
	border-radius: 6px;
	padding-right: 2px;
}

	.items-container::-webkit-scrollbar {
		width: 5px;
	}

	.items-container::-webkit-scrollbar-thumb {
		background: #cabfedca;
		border-radius: 0 4px 4px 0;
	}

.item {
	background-color: #cabfedca;
	color: #301d6ae6;
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding: 6px;
}

	.item:not(:last-child).margin-top {
		margin-top: 3px;
	}

.upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
}

	.upper > .label {
		font-size: 17px;
		font-family: Arial;
		flex-grow: 1;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		gap: 4px;
	}

	.upper > .label > span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

		.upper > .label > span:last-child {
			direction: rtl;
		}

.lower {
	display: flex;
	flex-direction: column;
	gap: 6px;
	overflow: hidden;
}

	.lower > .times {
		display: flex;
		gap: 5px;
	}

		.lower > .times > div {
			width: 50%;
		}

		.lower > .times label {
			white-space: nowrap;
		}

		.lower > .times input {
			border: none;
			outline: none;
			background-color: transparent;
			border: 2px solid #301d6ae6;
			border-radius: 4px;
			color: #301d6ae6;
			padding-left: 4px;
			font-size: 22px;
			font-weight: bold;
			width: 100%;
			box-sizing: border-box;
		}

			.lower > .times input::-webkit-calendar-picker-indicator {
				display: none;
			}
