<div class="header" [@fade]="animationState">
	<i class="back" (click)="backEvent()"></i>
	<div class="title">{{ service.selectedStudent.lastName + ", " + service.selectedStudent.firstName }}</div>
</div>
<div class="change-container">
	<div class="change-item" [class.selected]="!hebrew" (click)="hebrew = false">Civil</div>
	<div class="change-item" [class.selected]="hebrew" (click)="hebrew = true">Jewish</div>
</div>
<div class="items-container" [@fade]="animationState" *ngIf="service.pastRecords">
	<div class="item" [class.rtl]="hebrew"
		*ngFor="let month of (hebrew ? service.pastRecords.recordsByHMonth : service.pastRecords.recordsByCMonth)">
		<div class="month-name">{{ month.name }}</div>
		<div class="grid">
			<div *ngFor="let day of service.pastRecords.daysOfWeek[hebrew ? 1 : 0] index as i"
				[style.grid-column]="i + 1" [style.grid-row]="1" class="day-of-week">{{ day }}</div>
		</div>
		<div class="grid">
			<div *ngFor="let item of month.records" [style.grid-column]="item.day + 1" [style.grid-row]="item.week + 1"
				[ngClass]="{ extra: service.pastRecords.isExtraDay(item.dateString), off: isOffDay(item.dateString),
					arrived: item.arrived, timed: item.timeIn || item.timeOut || item.text}" class="grid-box">
				<span>{{ item.date }}</span>
			</div>
		</div>
	</div>
</div>