<div class="header" [@fade]="animationState">
	<i class="back" (click)="backEvent()"></i>
	<div class="title">{{ service.selectedStudent.last_name + ", " + service.selectedStudent.first_name }}</div>
</div>
<div class="past-items-container items-container" [@fade]="animationState">
	<div class="past-item-outer" *ngFor="let week of getWeeksCount()">
		<div class="past-item-name">
			<div>{{ getNameOfWeek(week) }}</div>
			<div>{{ getNameOfHebrewWeek(week) }}</div>
		</div>
		<div class="past-item-list" *ngIf="getByWeek(week).length !== 0">
			<div *ngFor="let item of getByWeek(week)" [style.grid-column]="getDay(item.date)" class="checkbox"
				[ngClass]="{disabled: isHidden(item.date), arrived: item.arrived, timed: item.time_in || item.time_out || item.text}">
				{{ getHebrewDate(item.date) }}
			</div>
		</div>
	</div>
</div>