:host {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
}

.header>.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-grow: 1;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 700;
	color: #cabfed;
}

.item {
	background-color: #baabe8;
	color: #301d6ae6;
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding: 6px;
}

.item.disabled {
	background-color: #d3cce7;

}

.item:not(:first-child).margin-top {
	margin-top: 6px;
}

.upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
}

.upper>.label {
	font-size: 17px;
	font-family: Arial;
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	gap: 4px;
}

.upper>.label>span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.upper>.label>span:last-child {
	direction: rtl;
}

.lower {
	display: flex;
	flex-direction: column;
	gap: 6px;
	overflow: clip;
	overflow-clip-margin: 4px;
}

.lower>.times {
	display: flex;
	gap: 5px;
}

.lower>.times>div {
	width: 50%;
}

.lower>.times label {
	white-space: nowrap;
}

.lower>.times input {
	border: none;
	outline: none;
	background-color: transparent;
	border: 2px solid #301d6ae6;
	border-radius: 4px;
	color: #301d6ae6;
	padding-left: 4px;
	font-size: 22px;
	font-weight: bold;
	width: 100%;
	box-sizing: border-box;
}

.lower>.times input::-webkit-calendar-picker-indicator {
	display: none;
}

.past-items-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.past-item-outer {
	display: flex;
	flex-direction: column;
	gap: 6px;
	background-color: #baabe8;
	padding: 6px;
	border-radius: 4px;
}

.past-item-list {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 3px;
	background-color: #baabe8;
	justify-content: flex-end;
}

.past-item-name {
	color: #1d1047d4;
	font-size: 22px;
	font-weight: bold;
	border-bottom: 2px solid #1d1047d4;
	padding: 2px 6px 0;
}

.past-item-list .checkbox {
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #1d1047;
	border-radius: 3px;
	height: 28px;
	font-size: 19px;
}

div.checkbox.arrived {
	color: #083b0a;
	background-color: #92db94c1;
}

div.checkbox.timed {
	color: #393108;
	background-color: #dbd09cc7;
	cursor: pointer;
}

div.checkbox:not(.arrived) {
	color: #390707;
	background-color: #d48181c3;
}

div.checkbox.disabled {
	color: #090909b8;
	background-color: #abababad;
	opacity: 0.6;
}