<div class="main" [@fade]="animationState">
	<div class="header">
		<app-back-icon (click)="backIconEvent()"></app-back-icon>
		<div class="title">{{ globalService.selectedClassName }}</div>
	</div>
	<div class="items-container">
		<div class="item" *ngFor="let item of globalService.studentsList" [hidden]="!item.visible">
			<div class="upper">
				<app-checkbox (click)="checkboxEvent(item.id)" [arrived]="item.arrived || false" [timed]="item.time_in !== null || item.time_out !== null"></app-checkbox>
				<div class="label" (click)="NameEvent(item.id)">{{ item.last_name + ", " + item.first_name }}</div>
				<app-clock-icon (click)="clockIconEvent(item.id)"></app-clock-icon>
			</div>
			<div class="lower" *ngIf="selected === item.id" [@toggleHeight]>
				<div class="times">
					<div>
						<label>Arrived at</label>
						<input type="time" [value]="item.time_in"
						(input)="timeInEvent(item.id, ti.value)" #ti>
					</div>
					<div>
						<label>Left at</label>
						<input type="time" [value]="item.time_out"
						(input)="timeOutEvent(item.id, to.value)" #to>
					</div>
				</div>
				<div class="comment">Record only if student came late or left early.</div>
			</div>
		</div>
	</div>
</div>
