<div class="header" [@fade]="animationState">
	<i class="back-icon" (click)="backEvent()"></i>
	<div class="title">{{ service.selectedClass.name }}</div>
</div>
<div class="items-container" [@fade]="animationState">
	<div class="item" *ngFor="let item of service.studentsInfo" [hidden]="item.hidden">
		<div class="upper">
			<i class="checkbox" (click)="checkboxEvent(item.id)"
				[ngClass]="{arrived: item.arrived, timed: item.time_in || item.time_out}"></i>
			<div class="label" (click)="NameEvent(item.id)">
				<span>{{ item.last_name }}</span>
				<span class="comma">,</span>
				<span>{{ item.first_name }}</span>
			</div>
			<i class="clock-icon" (click)="clockEvent(item.id)"></i>
		</div>
		<div class="lower" *ngIf="selected === item.id" [@toggleHeight]>
			<div class="times">
				<div>
					<label>Arrived at</label>
					<input type="time" [value]="item.time_in" (input)="timeEvent(item.id, ti.value, true)" #ti>
				</div>
				<div>
					<label>Left at</label>
					<input type="time" [value]="item.time_out" (input)="timeEvent(item.id, to.value, false)" #to>
				</div>
			</div>
			<div class="comment">Record only if student came late or left early.</div>
		</div>
	</div>
</div>