.main {
	background-color: #23144f72;
	border-radius: 7px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow: hidden;
	margin: 10px;
	width: 500px;
	max-width: calc(100% - 20px);
	box-sizing: border-box;
}
