.items-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow-x: hidden;
	border-radius: 6px;
	padding-right: 2px;
}

	.items-container::-webkit-scrollbar {
		width: 5px;
	}

	.items-container::-webkit-scrollbar-thumb {
		background: #cabfedca;
		border-radius: 0 4px 4px 0;
	}
