:host {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

i {
  font-style: normal;
  font-family: FontAwesome;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

  i::before {
    content: "\f013";
  }
