:host {
  display: flex;
  align-items: center;
}

i {
  font-style: normal;
  font-family: FontAwesome;
  font-size: 28px;
  color: #1a0b48;
  cursor: pointer;
}

  i::before {
    content: "\f013";
  }
