i {
	box-sizing: border-box;
	display: block;
	width: 38px;
	height: 31px;
	border: 2px solid;
	transform: scale(1, 1);
	border-radius: 4px;
	cursor: pointer;
	border-color: #cabfedff;
}

	i::after,
	i::before {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		left: 7px;
	}

	i::after {
		width: 15px;
		height: 15px;
		border-bottom: 5px solid;
		border-left: 5px solid;
		transform: rotate(45deg);
		bottom: 6px;
		border-color: #cabfedff;
	}

	i::before {
		width: 23px;
		height: 5px;
		bottom: 11px;
		background-color: #cabfedff;
	}
