:host {
	display: contents;
}

.main {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.header > .title {
		flex-grow: 1;
		text-align: center;
		letter-spacing: 1px;
		font-weight: 700;
		color: #cabfed;
	}

.item {
	box-sizing: border-box;
	display: flex;
	background-color: #cabfedca;
	color: #301d6ae6;
}

	.item > div {
		flex-grow: 1;
		text-align: center;
		padding: 6px 10px;
		cursor: pointer;
	}
