:host {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.header > .title {
		flex-grow: 1;
		text-align: center;
		letter-spacing: 1px;
		font-weight: 700;
		font-size: 28px;
		font-family: monospace;
		color: #cabfed;
	}

.items-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow-x: hidden;
	border-radius: 6px;
	padding-right: 2px;
}

	.items-container::-webkit-scrollbar {
		width: 5px;
	}

	.items-container::-webkit-scrollbar-thumb {
		background: #cabfedca;
		border-radius: 0 4px 4px 0;
	}

.item {
	box-sizing: border-box;
	display: flex;
	background-color: #cabfedca;
	color: #301d6ae6;
}

	.item > div {
		flex-grow: 1;
		text-align: center;
		font-size: 26px;
		font-family: Arial;
		padding: 6px 10px;
		cursor: pointer;
	}
