body {
	align-items: center;
	background: linear-gradient(40deg, #4a3cb7, #825bb5, #4a3cb7);
	display: flex;
	flex-direction: column;
	height: 100dvh;
	font-family: Arial;
	font-size: 18px;
	overflow: auto;
	margin: 0;
	user-select: none;
	-webkit-user-select: none;
}

.items-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow-x: hidden;
	border-radius: 6px;
}

.items-container::-webkit-scrollbar {
	width: 8px;
}

.items-container::-webkit-scrollbar-thumb {
	background: #cabfedca;
	border-left: 3px solid #4d3588;
	border-radius: 0 4px 4px 0;
}


.item:not(.disabled) i.checkbox {
	cursor: pointer;
	border-radius: 5px;
	background-color: #f5dbf7;
	border: 1px solid #301d6ae6;
}

.item:not(.disabled) i.checkbox.arrived {
	background-color: #93f99759;
}

.item:not(.disabled) i.checkbox.timed {
	background-color: #e9ff6159;
}

i.checkbox.arrived::before,
i.checkbox.timed::before {
	content: '';
	width: 9px;
	height: 21px;
	border-style: solid;
	margin-bottom: 5px;
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}

i.checkbox.arrived::before {
	border-color: #105a13bd;
}

i.checkbox.timed::before {
	border-color: #66570a;
}

textarea {
	border: 2px solid #301d6ae6;
	padding: 6px;
	outline: none;
	background-color: transparent;
	border-radius: 4px;
	color: #301d6ae6;
	font-size: 18px;
	font-family: Arial;
	resize: none;
}

textarea::-webkit-scrollbar {
	width: 7px;
}

textarea::-webkit-scrollbar-thumb {
	background-color: #301d6ae6;
	border: 2px solid #cabfedca;
	border-radius: 4px;
}