body {
	align-items: center;
	background: linear-gradient(40deg, #4a3cb7, #825bb5, #4a3cb7);
	display: flex;
	flex-direction: column;
	height: 100dvh;
	font-family: Arial;
	font-size: 18px;
	overflow: auto;
	margin: 0;
	user-select: none;
	-webkit-user-select: none;
}

.items-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow-x: hidden;
	border-radius: 6px;
	padding-right: 2px;
}

.items-container::-webkit-scrollbar {
	width: 5px;
}

.items-container::-webkit-scrollbar-thumb {
	background: #cabfedca;
	border-radius: 0 4px 4px 0;
}

i.settings {
	font-style: normal;
	font-family: FontAwesome;
	font-size: 28px;
	cursor: pointer;
	padding: 6px 10px;
}

i.settings::before {
	content: "\f013";
}

i.back {
	box-sizing: border-box;
	display: block;
	width: 38px;
	height: 31px;
	border: 2px solid;
	transform: scale(1, 1);
	border-radius: 4px;
	cursor: pointer;
	border-color: #cabfedff;
}

i.back::after,
i.back::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	left: 7px;
}

i.back::after {
	width: 15px;
	height: 15px;
	border-bottom: 5px solid;
	border-left: 5px solid;
	transform: rotate(45deg);
	bottom: 6px;
	border-color: #cabfedff;
}

i.back::before {
	width: 23px;
	height: 5px;
	bottom: 11px;
	background-color: #cabfedff;
}

i.clock {
	font-style: normal;
	font-family: FontAwesome;
	font-size: 32px;
	color: #301d6ae6;
	cursor: pointer;
}

i.clock::before {
	content: "\f017";
}

i.toggle {
	font-style: normal;
    font-family: FontAwesome;
    font-size: 34px;
    color: #301d6ae6;
    cursor: pointer;
    transition: 200ms;
    width: 30px;
    display: flex;
    justify-content: center;
}

i.toggle::before {
	content: "\f104";
}

i.opened {
	rotate: -90deg;
}

i.checkbox {
	width: 40px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item:not(.disabled) i.checkbox {
	cursor: pointer;
	border-radius: 5px;
	background-color: #f5dbf7;
	border: 1px solid #301d6ae6;
}

.item:not(.disabled) i.checkbox.arrived {
	background-color: #93f99759;
}

.item:not(.disabled) i.checkbox.timed {
	background-color: #e9ff6159;
}

i.checkbox.arrived::before,
i.checkbox.timed::before {
	content: '';
	width: 9px;
	height: 21px;
	border-style: solid;
	margin-bottom: 5px;
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}

i.checkbox.arrived::before {
	border-color: #105a13bd;
}

i.checkbox.timed::before {
    border-color: #66570a;
}

.past-items-container i.checkbox:not(.arrived)::before {
	content: '';
	width: 24px;
	height: 4px;
	background-color: #a34141;
}

textarea {
	border: 2px solid #301d6ae6;
	padding: 6px;
	outline: none;
	background-color: transparent;
	border-radius: 4px;
	color: #301d6ae6;
	font-size: 18px;
	font-family: Arial;
	resize: none;
}

textarea::-webkit-scrollbar {
    width: 7px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #301d6ae6;
    border: 2px solid #cabfedca;
    border-radius: 4px;
}