body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(40deg,#4a3cb7,#825bb5,#4a3cb7);
	height: 100vh;
	margin: 0;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
}
